<% layout("/layouts/boilerplate") -%>

    <body>
        <style>
            
        </style>

        <div id="filters">
            <div class="icons overflow-x-auto">
                <button class="filter">
                    <div><i class="fa-solid fa-fire"></i>
                        <div>
                            <div>Trending</div>
                </button>
                <button class="filter">
                    <div><i class="fa-solid fa-bed"></i>
                        <div>
                            <div>Rooms</div>
                </button>
                <button class="filter">
                    <div><i class="fa-solid fa-mountain-city"></i>
                        <div>
                            <div>Iconic Cities</div>
                </button>
                <button class="filter">
                    <div><i class="fa-solid fa-mountain-sun"></i>
                        <div>
                            <div>Mountains</div>
                </button>
                <button class="filter">
                    <div><i class="fa-brands fa-fort-awesome"></i>
                        <div>
                            <div>Castles</div>
                </button>
                <button class="filter">
                    <div><i class="fa-solid fa-person-swimming"></i>
                        <div>
                            <div>Amazing pools</div>
                </button>
                <button class="filter">
                    <div><i class="fa-solid fa-campground"></i>
                        <div>
                            <div>Camping</div>
                </button>
                <button class="filter">
                    <div><i class="fa-solid fa-cow"></i>
                        <div>
                            <div>Farms</div>
                </button>
                <button class="filter">
                    <div><i class="fa-solid fa-snowflake"></i>
                        <div>
                            <div>Arctic</div>
                </button>
                <button class="filter">
                    <div><i class="fa-solid fa-igloo"></i>
                        <div>
                            <div>Domes</div>
                </button>
                <button class="filter">
                    <div><i class="fa-solid fa-ship"></i>
                        <div>
                            <div>Houseboats</div>
                </button>
            </div>
            <div class="tax-toggle">
                <div class="form-check-reverse form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
                    <label class="form-check-label" for="switchCheckDefault">Display total after texes</label>
                </div>
            </div>
        </div>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
            <% for(listing of allListings) { %>
                <a class="listing-link" href="/listing/<%= listing._id %>">
                    <div class="card listing-card col">
                        <img src="<%= listing.image.url %>" class="card-img-top" alt="<%= listing.image %>"
                            style="height: 20rem;">
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b>
                                    <%= listing.title %>
                                </b>
                                <br>
                                &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
                                <i class="toggle tax-info">&nbsp; &nbsp; +18% GST</i>
                            </p>
                        </div>
                    </div>
                </a>
            <% } %>
        </div>
        <script>
            let taxSwitch = document.getElementById("switchCheckDefault");
            let taxInfo = document.querySelectorAll(".tax-info");
            taxSwitch.addEventListener("click", () => {
                for (info of taxInfo) {
                    info.classList.toggle("toggle");
                }
            });
        </script>
    </body>